<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <img src="{{ site.images.resize("/images/sunset.jpg", { format: "webp", width: 640, height: 480 }) }}" alt=""/>

        {% block layout %}{% endblock %}

        <h2>Recent News</h2>
        <ul>
            {% for pathname, file in site.collections.get('recent_news') %}
            <li><a href="{{ pathname }}">{{ file.title }}</a></li>
            {% endfor %}
        </ul>

        {% set team = site.collections.query({ "pattern": "#^/team/.*#" }) %}
        {% if team %}
        <h2>Team</h2>
        <ul>
            {% for pathname, file in team %}
            <li><a href="{{ pathname }}">{{ file.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
